@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;

  padding: 2em;
}

.intro-content{
  width: 50%;
}


.intro-container{
  background: #23424a;
  color: white;
}


.container-2 {
  width: 80%;
  max-width: 750px;
  padding: 2rem 1rem;
  margin: 0 auto;
}


.challenge-3{
  background-color: #23424A;
  color: #ffffff;
}

.content{
  width: 75%;
  padding: 7rem 6rem;
}

.content h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;

}

.content p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.content button{
  background-color: #38CFD9;
  color: #23424A;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.3125rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}
