:root{
  --orange: #e79405;
  --yellow: #f4b30d;
  --green: #3ab17b;
  --red: #dd493b;
}

*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
}

svg{
  height: 600px;
  width: 80%;
}

#redirectBox rect, #redirectBox {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#redirectBox:hover rect{
  cursor: pointer;
  fill: var(--orange);
  opacity: 0.5;
}

#tuningBox:hover rect{
  cursor: pointer;
  fill: var(--green);
  opacity: 0.5;
}

#adaptingBox:hover rect{
  cursor: pointer;
  fill: var(--yellow);
  opacity: 0.5;
}

#overhaulBox:hover rect{
  cursor: pointer;
  fill: var(--red);
  opacity: 0.5;
}