
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');





h1.page-title, section h2{
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  padding: 1rem 0;
  font-size: 2.6rem;
  font-weight: 700;
}

section{
  margin: 0 auto;
  max-width: 62rem;
}

section h2{
  font-size: 2rem;
}

.wc-1 blockquote{
  margin: 0;
  width: 70%;
  min-width: 20rem;
  font-style: italic;
  color: #ffffff;
  padding: 2rem calc(1.5rem + .5vw);
  font-size: 1.1rem;
  line-height: 1.4rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom right,#254655 0,#112831 100%);
  
  border-left: 11px solid var(--article-blockquote-border,#405c6e);
}

.wc-3{
  --tw-space-y-reverse: 0;
  width: 900px;
  margin: 0 auto;
  margin-top:calc(1rem*(1 - var(--tw-space-y-reverse)));
  padding: 1rem;
}

.card-container{
  border: 1px solid;
  border-color: rgb(212 212 216 / 1);
  border-radius: 0.4rem;
}

.main-card{
  margin: 1rem;
}

.card-code-example pre{
  white-space: pre-wrap;
}