
.wc-1{

}

blockquote{
  width: 50%;
  min-width: 20rem;
  font-style: italic;
  color: #ffffff;
  padding: 1em calc(1.5em + .5vw);
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.65rem;
  border-radius: 11px;
  background: linear-gradient(to bottom right,#254655 0,#112831 100%);
  
  border-left: 11px solid var(--article-blockquote-border,#405c6e);
}